html
    head
        title Success
    body
        h1 Installation completed
        p Thanks for installing Lottery Slack App.

        p Sorry for this page is stylized so poorly. We spent all money for design in lottery.